<div class="container">
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <ul class="col-lg-8 list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li>
            <div class="card mb-3 shadow">
              <% if(posts[i].image){ %>
                <img src="<%=posts[i].image%>" class="card-img-top" alt="...">
              <%}else{ %>

              <% } %>
              <div class="card-body">
                <a href="/post/<%=posts[i]._id%>"><h5 class="card-title"><%=posts[i].question%></h5></a>
                <p class="card-text"><%=posts[i].description%></p>
                <p class="card-text"><small class="text-muted">Asked by <%=posts[i].user.userName%> on</small><small class="text-muted"> <%=posts[i].createdAt.toDateString()%> |</small><small class="text-danger"><%=posts[i].likes%></small><small class="fa fa-heart text-danger"></small>|<small class=""><%=posts[i].faceLol%></small><i class="fa-regular fa-face-grin-tears"></i>|<small class=""><%=posts[i].faceSwear%></small><i class="fa-regular fa-face-angry"></i>|<small class=""><%=posts[i].faceSad%></small><i class="fa-regular fa-face-sad-tear"></i></p>
              </div>
            </div>
          </li><hr>
        <% } %>
      </ul>
      <div class="col-lg-2"></div>
    </div>
</div>